In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
pd.set_option("display.max_columns", None)
df = pd.read_csv("Data/data.csv", delimiter=";")
#df = pd.read_csv("Data/apartments_for_rent_classified_10K.csv", delimiter=";", encoding='cp1252')
#df = pd.read_csv("Data/in-vehicle-coupon-recommendation.csv")
df.head(20)

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,5,9,127.3,1,0,0,1,1,0,20,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,3,3,142.5,1,0,0,0,1,0,19,0,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,9,9,124.8,1,0,0,0,1,0,19,0,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,5,3,119.6,1,0,0,1,0,0,20,0,0,6,8,6,13.428571,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,9,9,141.5,0,0,0,1,0,0,45,0,0,6,9,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
5,2,39,1,9991,0,19,133.1,1,37,37,9,7,114.8,0,0,1,1,1,0,50,0,0,5,10,5,11.857143,0,0,5,17,5,11.500000,5,16.2,0.3,-0.92,Graduate
6,1,1,1,9500,1,1,142.0,1,19,38,7,10,128.4,1,0,0,1,0,1,18,0,0,7,9,7,13.300000,0,0,8,8,8,14.345000,0,15.5,2.8,-4.06,Graduate
7,1,18,4,9254,1,1,119.0,1,37,37,9,9,113.1,1,0,0,0,1,0,22,0,0,5,5,0,0.000000,0,0,5,5,0,0.000000,0,15.5,2.8,-4.06,Dropout
8,1,1,3,9238,1,1,137.0,62,1,1,9,9,129.3,0,0,0,1,0,1,21,1,0,6,8,6,13.875000,0,0,6,7,6,14.142857,0,16.2,0.3,-0.92,Graduate
9,1,1,1,9238,1,1,138.0,1,1,19,4,7,123.0,1,0,1,0,0,0,18,0,0,6,9,5,11.400000,0,0,6,14,2,13.500000,0,8.9,1.4,3.51,Dropout
10,1,1,1,9670,1,1,139.0,1,38,19,5,7,130.6,1,0,0,1,0,0,18,0,0,6,6,6,12.333333,0,0,6,7,5,14.200000,0,13.9,-0.3,0.79,Graduate
11,1,1,1,9500,1,1,136.0,1,19,38,9,9,119.3,1,0,0,1,0,1,18,0,0,8,8,7,13.214286,0,0,8,8,7,13.214286,0,12.7,3.7,-1.70,Graduate
12,1,1,2,9853,1,1,133.0,1,19,37,4,9,130.2,1,0,0,1,0,0,19,0,0,6,6,0,0.000000,0,0,6,0,0,0.000000,0,12.7,3.7,-1.70,Dropout
13,1,53,1,9254,1,42,110.0,1,1,1,4,7,111.8,1,0,0,1,0,1,21,0,0,6,7,6,10.571429,0,0,6,8,5,11.000000,0,8.9,1.4,3.51,Graduate
14,1,1,1,9085,1,1,149.0,1,38,37,5,5,137.1,1,0,0,1,0,1,18,0,0,5,7,4,13.250000,0,0,5,5,5,12.000000,0,10.8,1.4,1.74,Graduate
15,1,1,1,9773,1,1,127.0,1,19,37,9,3,120.7,1,0,0,1,0,0,20,0,0,6,6,5,13.200000,0,0,6,7,0,0.000000,0,15.5,2.8,-4.06,Dropout
16,1,18,1,9238,1,1,137.0,1,19,38,5,8,137.4,1,0,0,1,0,0,18,0,0,6,10,1,12.000000,0,0,6,14,2,11.000000,0,10.8,1.4,1.74,Enrolled
17,1,17,2,9500,1,1,135.0,1,19,1,5,4,127.3,1,0,0,1,0,0,18,0,0,7,8,7,13.306250,0,0,8,8,8,14.545000,0,15.5,2.8,-4.06,Graduate
18,1,1,1,9130,1,1,137.0,1,3,19,3,5,136.3,1,0,0,1,0,0,20,0,0,5,8,4,12.500000,1,0,5,8,4,12.250000,2,10.8,1.4,1.74,Graduate
19,1,1,1,9853,1,1,140.0,1,19,19,7,7,124.6,1,0,0,1,0,0,18,0,0,7,7,6,11.666667,0,0,7,8,6,13.500000,0,16.2,0.3,-0.92,Enrolled

In [18]:
print(f"Number of data samples = {df.shape[0]}")
print(f"Number of attributes = {df.shape[1]}\n")
print(f"Attribute data types:\n{df.dtypes}\n")
numerical_only = df.drop(columns=["Marital status", "Application mode",
                                  "Application order", "Course",
                                  "Daytime/evening attendance\t", "Previous qualification",
                                  "Nacionality", "Mother's qualification",
                                  "Father's qualification", "Mother's occupation",
                                  "Father's occupation", "Displaced",
                                  "Educational special needs", "Debtor",
                                  "Tuition fees up to date", "Gender",
                                  "Scholarship holder", "International"])
print(f"Dataset statistics:")
numerical_only.describe()

Number of data samples = 4424
Number of attributes = 37

Attribute data types:
Marital status                                      int64
Application mode                                    int64
Application order                                   int64
Course                                              int64
Daytime/evening attendance\t                        int64
Previous qualification                              int64
Previous qualification (grade)                    float64
Nacionality                                         int64
Mother's qualification                              int64
Father's qualification                              int64
Mother's occupation                                 int64
Father's occupation                                 int64
Admission grade                                   float64
Displaced                                           int64
Educational special needs                           int64
Debtor                                              int64
Tuition fees up to date                             int64
Gender                                              int64
Scholarship holder                                  int64
Age at enrollment                                   int64
International                                       int64
Curricular units 1st sem (credited)                 int64
Curricular units 1st sem (enrolled)                 int64
Curricular units 1st sem (evaluations)              int64
Curricular units 1st sem (approved)                 int64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)      int64
Curricular units 2nd sem (credited)                 int64
Curricular units 2nd sem (enrolled)                 int64
Curricular units 2nd sem (evaluations)              int64
Curricular units 2nd sem (approved)                 int64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)      int64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

Dataset statistics:

,Previous qualification (grade),Admission grade,Age at enrollment,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
count,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000
mean,132.613314,126.978119,23.265145,0.709991,6.270570,8.299051,4.706600,10.640822,0.137658,0.541817,6.232143,8.063291,4.435805,10.230206,0.150316,11.566139,1.228029,0.001969
std,13.188332,14.482001,7.587816,2.360507,2.480178,4.179106,3.094238,4.843663,0.690880,1.918546,2.195951,3.947951,3.014764,5.210808,0.753774,2.663850,1.382711,2.269935
min,95.000000,95.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000
25%,125.000000,117.900000,19.000000,0.000000,5.000000,6.000000,3.000000,11.000000,0.000000,0.000000,5.000000,6.000000,2.000000,10.750000,0.000000,9.400000,0.300000,-1.700000
50%,133.100000,126.100000,20.000000,0.000000,6.000000,8.000000,5.000000,12.285714,0.000000,0.000000,6.000000,8.000000,5.000000,12.200000,0.000000,11.100000,1.400000,0.320000
75%,140.000000,134.800000,25.000000,0.000000,7.000000,10.000000,6.000000,13.400000,0.000000,0.000000,7.000000,10.000000,6.000000,13.333333,0.000000,13.900000,2.600000,1.790000
max,190.000000,190.000000,70.000000,20.000000,26.000000,45.000000,26.000000,18.875000,12.000000,19.000000,23.000000,33.000000,20.000000,18.571429,12.000000,16.200000,3.700000,3.510000

In [ ]:
# Check if there are any missing values at all
df.isnull().values.any()
#df["car"].isnull().values.any()

In [ ]:
# Print frequency of each category (ignore not categorical columns such as grade etc.)
for column in df.columns:
    print(df[column].value_counts())
    plt.boxplot(df[column].value_counts())
    plt.show()
    #plt.hist(df[column].value_counts())
    #plt.show()

In [2]:
df_sorted = df.sort_values("price")
df_duplicated = df["price"].duplicated().any()

NameError: name 'df' is not defined

In [ ]:
df_sorted

In [ ]:
plt.boxplot(df["price"])
plt.show()

In [ ]:
# First we separate the desired columns
df_apriori = df[["id", "price", "bathrooms"]]

# Now we group the price in to categories
prices = df["price"]
quartiles = np.percentile(prices, [25, 50, 75])
min, max = prices.min(), prices.max()

#print(min)
#print(quartiles[0])
#print(quartiles[1])
#print(quartiles[2])
#print(max)

#make the min quartile 1 and the max quartile 5, remove everything else

df_apriori = df_apriori.drop(df_apriori[df_apriori["price"]<quartiles[0]].index)
df_apriori = df_apriori.drop(df_apriori[df_apriori["price"]>quartiles[2]].index)
df_apriori = df_apriori.dropna()

# separate data into 5 buckets of $160 increments
# e.g. 901-1060, 1061-1220, 1221-1380, 1381-1540, 1541-1700

bins = [900, 1060, 1220, 1390, 1540, 1700]
df_apriori["price_category"] = pd.cut(df["price"], bins)

#df_apriori = df_apriori.set_index("id")
df_apriori = df_apriori.drop(columns=["price"])

basket = pd.get_dummies(df_apriori)
print(basket)

In [1]:
from mlxtend.frequent_patterns import apriori, association_rules

# Reload the dataset with the correct delimiter
data = pd.read_csv("Data/data.csv", delimiter=";")

# Display the first few rows of the dataset to confirm correct loading
data.head()

categorical_columns = [
    'Marital status', 'Application mode', 'Application order', 'Course',
    'Daytime/evening attendance', 'Previous qualification', 'Nacionality',
    "Mother's qualification", "Father's qualification", "Mother's occupation",
    "Father's occupation", 'Displaced', 'Educational special needs', 'Debtor',
    'Tuition fees up to date', 'Gender', 'Scholarship holder', 'International', 'Target'
]

# Convert categorical columns to string to treat them as categorical
for col in categorical_columns:
    data[col] = data[col].astype(str)

# Preprocessing: Encode the categorical data to be suitable for the Apriori algorithm
# We will encode the data using one-hot encoding
encoded_data = pd.get_dummies(data, columns=categorical_columns)

encoded_data = encoded_data.drop(columns=["Previous qualification (grade)", "Admission grade",
                           "Age at enrollment", "Curricular units 1st sem (credited)",
                           "Curricular units 1st sem (enrolled)", "Curricular units 1st sem (evaluations)",
                           "Curricular units 1st sem (approved)", "Curricular units 1st sem (grade)",
                           "Curricular units 1st sem (without evaluations)", "Curricular units 2nd sem (credited)",
                           "Curricular units 2nd sem (enrolled)", "Curricular units 2nd sem (evaluations)",
                           "Curricular units 2nd sem (approved)", "Curricular units 2nd sem (grade)",
                           "Curricular units 2nd sem (without evaluations)", "Unemployment rate",
                           "Inflation rate", "GDP"])

# Applying the Apriori algorithm with a minimum support of 0.03 (3%)
frequent_itemsets = apriori(encoded_data, min_support=0.05, use_colnames=True)
print("Here")

# Generating the association rules with a minimum confidence of 0.70 (70%)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.70)

print("Here")
# Displaying the resulting rules
#pd.set_option("display.max_rows", None)

sorted_rules = rules.sort_values(by='confidence', ascending=False)
display(sorted_rules)

#sorted_rules.to_csv("Data/found_rules_3_70.csv", index=False)

/opt/anaconda3/envs/data_mining_env/lib/python3.12/site-packages/executing/executing.py:713: DeprecationWarning: ast.Str is deprecated and will be removed in Python 3.14; use ast.Constant instead
  right=ast.Str(s=sentinel),
/opt/anaconda3/envs/data_mining_env/lib/python3.12/site-packages/executing/executing.py:713: DeprecationWarning: ast.Str is deprecated and will be removed in Python 3.14; use ast.Constant instead
  right=ast.Str(s=sentinel),
/opt/anaconda3/envs/data_mining_env/lib/python3.12/ast.py:587: DeprecationWarning: Attribute s is deprecated and will be removed in Python 3.14; use value instead
  return Constant(*args, **kwargs)
/opt/anaconda3/envs/data_mining_env/lib/python3.12/site-packages/executing/executing.py:713: DeprecationWarning: ast.Str is deprecated and will be removed in Python 3.14; use ast.Constant instead
  right=ast.Str(s=sentinel),
/opt/anaconda3/envs/data_mining_env/lib/python3.12/ast.py:587: DeprecationWarning: Attribute s is deprecated and will be removed in Python 3.14; use value instead
  return Constant(*args, **kwargs)

NameError: name 'pd' is not defined

In [ ]:
#pd.reset_option("max_rows")
pd.set_option("display.max_rows", None)
display(sorted_rules)