In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
pd.set_option("display.max_columns", None)
#df = pd.read_csv("Data/data.csv", delimiter=";")
df = pd.read_csv("Data/apartments_for_rent_classified_10K.csv", delimiter=";", encoding='cp1252')
#df = pd.read_csv("Data/in-vehicle-coupon-recommendation.csv")
df.head(20)

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668626895,housing/rent/apartment,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,NaN,0.0,USD,No,Thumbnail,NaN,790,$790,Monthly,101,NaN,Washington,DC,38.9057,-76.9861,RentLingo,1577359415
1,5664597177,housing/rent/apartment,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,NaN,1.0,USD,No,Thumbnail,NaN,425,$425,Monthly,106,814 Schutte Rd,Evansville,IN,37.9680,-87.6621,RentLingo,1577017063
2,5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",NaN,1.0,0.0,USD,No,Thumbnail,NaN,1390,"$1,390",Monthly,107,NaN,Arlington,VA,38.8910,-77.0816,RentLingo,1577359410
3,5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",NaN,1.0,0.0,USD,No,Thumbnail,NaN,925,$925,Monthly,116,1717 12th Avenue,Seattle,WA,47.6160,-122.3275,RentLingo,1576667743
4,5668626759,housing/rent/apartment,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,NaN,0.0,USD,No,Thumbnail,NaN,880,$880,Monthly,125,NaN,Arlington,VA,38.8738,-77.1055,RentLingo,1577359401
5,5667891676,housing/rent/apartment,0 BR in New York NY 10019,**RARE GEM WITH PRIVATE OUTDOOR TERRACE****AVA...,"Dishwasher,Elevator,Patio/Deck,Pool,Storage",1.0,0.0,USD,No,Thumbnail,NaN,2475,"$2,475",Monthly,130,350 West 50th St,Manhattan,NY,40.7629,-73.9885,Listanza,1577289784
6,5668627426,housing/rent/apartment,Studio apartment 2432 Penmar Ave,"This unit is located at 2432 Penmar Ave, Venic...",NaN,NaN,0.0,USD,No,Thumbnail,NaN,1800,"$1,800",Monthly,132,2432 Penmar Avenue,Venice,CA,33.9932,-118.4609,RentLingo,1577359461
7,5668626687,housing/rent/apartment,"Studio apartment Oak St NW, 16th St NW, Washin...","This unit is located at Oak St NW, 16th St NW,...",NaN,NaN,0.0,USD,No,Thumbnail,NaN,840,$840,Monthly,136,NaN,Washington,DC,38.9328,-77.0297,RentLingo,1577359393
8,5668610290,housing/rent/apartment,Studio apartment 333 Hyde St,"This unit is located at 333 Hyde St, San Franc...",Refrigerator,1.0,0.0,USD,No,Thumbnail,NaN,1495,"$1,495",Monthly,138,333 Hyde St,San Francisco,CA,37.7599,-122.4379,RentLingo,1577358313
9,5668627023,housing/rent/apartment,"Studio apartment A St SE, 19th St SE, Washington","This unit is located at A St SE, 19th St SE, W...",NaN,NaN,0.0,USD,No,Thumbnail,NaN,890,$890,Monthly,141,NaN,Washington,DC,38.9118,-77.0132,RentLingo,1577359424
10,5668627099,housing/rent/apartment,"Studio apartment 15th St SE, Independence Ave ...","This unit is located at 15th St SE, Independen...",NaN,NaN,0.0,USD,No,Thumbnail,NaN,990,$990,Monthly,146,15th St SE Independence Avenue SE Washington DC,Washington,DC,38.9118,-77.0132,RentLingo,1577359430
11,5668626548,housing/rent/apartment,"Studio apartment Arkansas Ave NW, Varnum St NW...","This unit is located at Arkansas Ave NW, Varnu...",NaN,NaN,0.0,USD,No,Thumbnail,NaN,840,$840,Monthly,150,NaN,Washington,DC,38.9118,-77.0132,RentLingo,1577359381
12,5664598162,housing/rent/apartment,Studio apartment 2326 N 6th Avenue,"This unit is located at 2326 N sixth Avenue, T...",NaN,NaN,1.0,USD,No,Thumbnail,"Cats,Dogs",1795,"$1,795",Monthly,156,2326 N 6th Ave,Tucson,AZ,32.2264,-110.9438,RentLingo,1577017148
13,5668626900,housing/rent/apartment,"Studio apartment Salem Ln NW, 45th St NW, Wash...","This unit is located at Salem Ln NW, 45th St N...",NaN,NaN,0.0,USD,No,Thumbnail,NaN,1090,"$1,090",Monthly,178,NaN,Washington,DC,38.9118,-77.0132,RentLingo,1577359415
14,5664571820,housing/rent/apartment,Studio apartment 57 Taylor Street,"This unit is located at 57 Taylor Street, San ...",Refrigerator,1.0,0.0,USD,No,Thumbnail,NaN,1695,"$1,695",Monthly,190,57 Taylor St,San Francisco,CA,37.7599,-122.4379,RentLingo,1577015121
15,5659276240,housing/rent/apartment,Studio Cottage 214,"New Bern Studio includes : 1 beds, 1 microwave...","AC,Basketball,Cable or Satellite,Gym,Internet ...",1.0,1.0,USD,No,Thumbnail,"Cats,Dogs",1560,"$1,560 Weekly",Weekly,200,NaN,New Bern,NC,35.0847,-77.0609,ListedBuy,1576618076
16,5654898031,housing/rent/apartment,Studio Cottage 214,"New Bern Studio includes : 1 bedrooms, 1 micro...","AC,Basketball,Cable or Satellite,Gym,Internet ...",1.0,1.0,USD,No,Thumbnail,"Cats,Dogs",1560,"$1,560",Monthly,200,180 Moonlight Lake Drive,New Bern,NC,35.0960,-77.0272,RentDigs.com,1576406273
17,5664574876,housing/rent/apartment,One BR Spring Ridge Dr,"This unit is located at Spring Ridge Dr, Sprin...",NaN,1.0,1.0,USD,No,Thumbnail,NaN,1000,"$1,000",Monthly,200,NaN,Spring,TX,30.0871,-95.4685,RentLingo,1577015327
18,5668633573,housing/rent/apartment,Studio apartment 545 Georgia street 717-723 Su...,This unit is located at 545 Georgia street 717...,NaN,1.0,1.0,USD,No,Thumbnail,NaN,950,$950,Monthly,200,545 Georgia St 717-723 Sutter St,Vallejo,CA,38.1172,-122.2313,RentLingo,1577359918
19,5668624220,housing/rent/apartment,One BR Falcon Wood Dr,"This unit is located at Falcon Wood Dr, Mariet...",Pool,1.0,1.0,USD,No,Thumbnail,NaN,625,$625,Monthly,200,NaN,Marietta,GA,33.9649,-84.5107,RentLingo,1577359224

In [ ]:
# Check if there are any missing values at all
df.isnull().values.any()
#df["car"].isnull().values.any()

In [ ]:
# Print frequency of each category (ignore not categorical columns such as grade etc.)
for column in df.columns:
    print(df[column].value_counts())
    plt.boxplot(df[column].value_counts())
    plt.show()
    #plt.hist(df[column].value_counts())
    #plt.show()

In [2]:
df_sorted = df.sort_values("price")
df_duplicated = df["price"].duplicated().any()

NameError: name 'df' is not defined

In [ ]:
df_sorted

In [ ]:
plt.boxplot(df["price"])
plt.show()

In [ ]:
# First we separate the desired columns
df_apriori = df[["id", "price", "bathrooms"]]

# Now we group the price in to categories
prices = df["price"]
quartiles = np.percentile(prices, [25, 50, 75])
min, max = prices.min(), prices.max()

#print(min)
#print(quartiles[0])
#print(quartiles[1])
#print(quartiles[2])
#print(max)

#make the min quartile 1 and the max quartile 5, remove everything else

df_apriori = df_apriori.drop(df_apriori[df_apriori["price"]<quartiles[0]].index)
df_apriori = df_apriori.drop(df_apriori[df_apriori["price"]>quartiles[2]].index)
df_apriori = df_apriori.dropna()

# separate data into 5 buckets of $160 increments
# e.g. 901-1060, 1061-1220, 1221-1380, 1381-1540, 1541-1700

bins = [900, 1060, 1220, 1390, 1540, 1700]
df_apriori["price_category"] = pd.cut(df["price"], bins)

#df_apriori = df_apriori.set_index("id")
df_apriori = df_apriori.drop(columns=["price"])

basket = pd.get_dummies(df_apriori)
print(basket)

In [3]:
from mlxtend.frequent_patterns import apriori, association_rules

# Reload the dataset with the correct delimiter
data = pd.read_csv("Data/data.csv", delimiter=";")

# Display the first few rows of the dataset to confirm correct loading
data.head()

categorical_columns = [
    'Marital status', 'Application mode', 'Application order', 'Course',
    'Daytime/evening attendance\t', 'Previous qualification', 'Nacionality',
    "Mother's qualification", "Father's qualification", "Mother's occupation",
    "Father's occupation", 'Displaced', 'Educational special needs', 'Debtor',
    'Tuition fees up to date', 'Gender', 'Scholarship holder', 'International', 'Target'
]

# Convert categorical columns to string to treat them as categorical
for col in categorical_columns:
    data[col] = data[col].astype(str)

# Preprocessing: Encode the categorical data to be suitable for the Apriori algorithm
# We will encode the data using one-hot encoding
encoded_data = pd.get_dummies(data, columns=categorical_columns)

encoded_data = encoded_data.drop(columns=["Previous qualification (grade)", "Admission grade",
                           "Age at enrollment", "Curricular units 1st sem (credited)",
                           "Curricular units 1st sem (enrolled)", "Curricular units 1st sem (evaluations)",
                           "Curricular units 1st sem (approved)", "Curricular units 1st sem (grade)",
                           "Curricular units 1st sem (without evaluations)", "Curricular units 2nd sem (credited)",
                           "Curricular units 2nd sem (enrolled)", "Curricular units 2nd sem (evaluations)",
                           "Curricular units 2nd sem (approved)", "Curricular units 2nd sem (grade)",
                           "Curricular units 2nd sem (without evaluations)", "Unemployment rate",
                           "Inflation rate", "GDP"])

# Applying the Apriori algorithm with a minimum support of 0.03 (3%)
frequent_itemsets = apriori(encoded_data, min_support=0.05, use_colnames=True)
print("Here")

# Generating the association rules with a minimum confidence of 0.70 (70%)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.70)

print("Here")
# Displaying the resulting rules
#pd.set_option("display.max_rows", None)

sorted_rules = rules.sort_values(by='confidence', ascending=False)
display(sorted_rules)

#sorted_rules.to_csv("Data/found_rules_3_70.csv", index=False)

Here
Here

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
753041,"(Application mode_1, Marital status_1, Displac...",(Nacionality_1),0.054702,0.975136,0.054702,1.0,1.025498,0.001360,inf,0.026303
2997995,"(Application mode_1, Nacionality_1, Course_950...","(Tuition fees up to date_1, Daytime/evening at...",0.052215,0.689873,0.052215,1.0,1.449541,0.016193,inf,0.327212
444887,"(Application mode_1, Nacionality_1, Course_950...",(Previous qualification_1),0.071881,0.840190,0.071881,1.0,1.190207,0.011487,inf,0.172187
3110519,"(Nacionality_1, Course_9500, Scholarship holde...",(Daytime/evening attendance\t_1),0.054702,0.890823,0.054702,1.0,1.122558,0.005972,inf,0.115495
869929,"(Daytime/evening attendance\t_1, Previous qual...",(Tuition fees up to date_1),0.111664,0.880651,0.111664,1.0,1.135524,0.013327,inf,0.134351
...,...,...,...,...,...,...,...,...,...,...
1584732,"(Application mode_1, Previous qualification_1,...","(Tuition fees up to date_1, Displaced_1, Inter...",0.072333,0.472197,0.050633,0.7,1.482432,0.016478,1.759343,0.350808
1169614,"(Application mode_1, Previous qualification_1,...","(Scholarship holder_0, International_0)",0.081374,0.731013,0.056962,0.7,0.957576,-0.002524,0.896624,-0.046009
2566504,"(Application mode_1, Marital status_1, Naciona...","(Gender_0, Educational special needs_0)",0.158228,0.639919,0.110759,0.7,1.093889,0.009507,1.200271,0.101964
2575753,"(Daytime/evening attendance\t_1, Marital statu...","(Scholarship holder_0, Previous qualification_...",0.122061,0.592224,0.085443,0.7,1.181985,0.013155,1.359253,0.175371
1201564,"(Debtor_0, Course_9500, Application order_1)","(Nacionality_1, Tuition fees up to date_1, Gen...",0.079114,0.564873,0.055380,0.7,1.239216,0.010690,1.450422,0.209622

In [ ]:
#pd.reset_option("max_rows")
pd.set_option("display.max_rows", None)
display(sorted_rules)