In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
pd.set_option("display.max_columns", None)
data = pd.read_csv("Data/preprocessed_data.csv", delimiter=",")
data.head(20)

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target,Admission grade bins,Age group,Unemployment rate bins
0,1,17,5,171,1,1,122.0,1.0,19,12,5,9,127.3,1,0,0,1,1.0,0,20.0,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout,NaN,18-22,10-15%
1,1,15,1,9254,1,1,160.0,1.0,1,3,3,3,142.5,1,0,0,0,1.0,0,19.0,0,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate,NaN,18-22,10-15%
2,1,1,5,9070,1,1,122.0,1.0,37,37,9,9,124.8,1,0,0,0,1.0,0,19.0,0,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout,NaN,18-22,10-15%
3,1,17,2,9773,1,1,122.0,1.0,38,37,5,3,119.6,1,0,0,1,0.0,0,20.0,0,0,6,8,6,13.428571,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate,NaN,18-22,5-10%
4,2,39,1,8014,0,1,100.0,1.0,37,38,9,9,141.5,0,0,0,1,0.0,0,34.0,0,0,6,9,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate,NaN,28-35,10-15%
5,2,39,1,9991,0,19,133.1,1.0,37,37,9,7,114.8,0,0,1,1,1.0,0,34.0,0,0,5,10,5,11.857143,0,0,5,17,5,11.500000,5,16.2,0.3,-0.92,Graduate,NaN,28-35,15%+
6,1,1,1,9500,1,1,142.0,1.0,19,38,7,10,128.4,1,0,0,1,0.0,1,18.0,0,0,7,9,7,13.300000,0,0,8,8,8,14.345000,0,15.5,2.8,-4.06,Graduate,NaN,18-22,15%+
7,1,18,4,9254,1,1,119.0,1.0,37,37,9,9,113.1,1,0,0,0,1.0,0,22.0,0,0,5,5,0,0.000000,0,0,5,5,0,0.000000,0,15.5,2.8,-4.06,Dropout,NaN,18-22,15%+
8,1,1,3,9238,1,1,137.0,62.0,1,1,9,9,129.3,0,0,0,1,0.0,1,21.0,1,0,6,8,6,13.875000,0,0,6,7,6,14.142857,0,16.2,0.3,-0.92,Graduate,NaN,18-22,15%+
9,1,1,1,9238,1,1,138.0,1.0,1,19,4,7,123.0,1,0,1,0,0.0,0,18.0,0,0,6,9,5,11.400000,0,0,6,14,2,13.500000,0,8.9,1.4,3.51,Dropout,NaN,18-22,5-10%
10,1,1,1,9670,1,1,139.0,1.0,38,19,5,7,130.6,1,0,0,1,0.0,0,18.0,0,0,6,6,6,12.333333,0,0,6,7,5,14.200000,0,13.9,-0.3,0.79,Graduate,NaN,18-22,10-15%
11,1,1,1,9500,1,1,136.0,1.0,19,38,9,9,119.3,1,0,0,1,0.0,1,18.0,0,0,8,8,7,13.214286,0,0,8,8,7,13.214286,0,12.7,3.7,-1.70,Graduate,NaN,18-22,10-15%
12,1,1,2,9853,1,1,133.0,1.0,19,37,4,9,130.2,1,0,0,1,0.0,0,19.0,0,0,6,6,0,0.000000,0,0,6,0,0,0.000000,0,12.7,3.7,-1.70,Dropout,NaN,18-22,10-15%
13,1,53,1,9254,1,42,110.0,1.0,1,1,4,7,111.8,1,0,0,1,0.0,1,21.0,0,0,6,7,6,10.571429,0,0,6,8,5,11.000000,0,8.9,1.4,3.51,Graduate,NaN,18-22,5-10%
14,1,1,1,9085,1,1,149.0,1.0,38,37,5,5,137.1,1,0,0,1,0.0,1,18.0,0,0,5,7,4,13.250000,0,0,5,5,5,12.000000,0,10.8,1.4,1.74,Graduate,NaN,18-22,10-15%
15,1,1,1,9773,1,1,127.0,1.0,19,37,9,3,120.7,1,0,0,1,0.0,0,20.0,0,0,6,6,5,13.200000,0,0,6,7,0,0.000000,0,15.5,2.8,-4.06,Dropout,NaN,18-22,15%+
16,1,17,2,9500,1,1,135.0,1.0,19,1,5,4,127.3,1,0,0,1,0.0,0,18.0,0,0,7,8,7,13.306250,0,0,8,8,8,14.545000,0,15.5,2.8,-4.06,Graduate,NaN,18-22,15%+
17,1,1,1,9130,1,1,137.0,1.0,3,19,3,5,136.3,1,0,0,1,0.0,0,20.0,0,0,5,8,4,12.500000,1,0,5,8,4,12.250000,2,10.8,1.4,1.74,Graduate,NaN,18-22,10-15%
18,1,1,1,9853,1,1,140.0,1.0,19,19,7,7,124.6,1,0,0,1,0.0,0,18.0,0,0,7,7,6,11.666667,0,0,7,8,6,13.500000,0,16.2,0.3,-0.92,Enrolled,NaN,18-22,15%+
19,1,1,3,171,1,1,122.0,1.0,1,1,9,8,120.3,0,0,0,1,0.0,1,21.0,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,11.1,0.6,2.02,Graduate,NaN,18-22,10-15%

In [29]:
from mlxtend.frequent_patterns import apriori, association_rules

# Handpick categorical columns from dataset, may bin numerical variables and perform apriori on them later
categorical_columns = [
    'Marital status', 'Application mode', 'Application order', 'Course',
    'Daytime/evening attendance', 'Previous qualification', 'Nacionality',
    "Mother's qualification", "Father's qualification", "Mother's occupation",
    "Father's occupation", 'Displaced', 'Educational special needs', 'Debtor',
    'Tuition fees up to date', 'Gender', 'Scholarship holder', 'International', 'Target',
    'Age group', 'Unemployment rate bins'
]

# Convert categorical columns to string to treat them as categorical
for col in categorical_columns:
    data[col] = data[col].astype(str)

# Preprocessing: Encode the categorical data to be suitable for the Apriori algorithm
# We will encode the data using one-hot encoding
encoded_data = pd.get_dummies(data)

encoded_data = encoded_data.drop(columns=["Previous qualification (grade)", "Admission grade",
                           "Age at enrollment", "Curricular units 1st sem (credited)",
                           "Curricular units 1st sem (enrolled)", "Curricular units 1st sem (evaluations)",
                           "Curricular units 1st sem (approved)", "Curricular units 1st sem (grade)",
                           "Curricular units 1st sem (without evaluations)", "Curricular units 2nd sem (credited)",
                           "Curricular units 2nd sem (enrolled)", "Curricular units 2nd sem (evaluations)",
                           "Curricular units 2nd sem (approved)", "Curricular units 2nd sem (grade)",
                           "Curricular units 2nd sem (without evaluations)", "Unemployment rate",
                           "Inflation rate", "GDP"])

print(df.isnull().values.any())
print(encoded_data)

# Applying the Apriori algorithm with a minimum support of 0.03 (3%)
frequent_itemsets = apriori(encoded_data, min_support=0.05, use_colnames=True, verbose=1)

# Generating the association rules with a minimum confidence of 0.70 (70%)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.70)

# Displaying the resulting rules
#pd.set_option("display.max_rows", None)

sorted_rules = rules.sort_values(by='confidence', ascending=False)
display(sorted_rules)

#sorted_rules.to_csv("Data/found_rules_3_70.csv", index=False)

True
      Marital status_1  Marital status_2  Marital status_3  Marital status_4  \
0                 True             False             False             False
1                 True             False             False             False
2                 True             False             False             False
3                 True             False             False             False
4                False              True             False             False
...                ...               ...               ...               ...
4149              True             False             False             False
4150              True             False             False             False
4151              True             False             False             False
4152              True             False             False             False
4153              True             False             False             False

      Marital status_5  Marital status_6  Application mode_1  \
0                False             False               False
1                False             False               False
2                False             False                True
3                False             False               False
4                False             False               False
...                ...               ...                 ...
4149             False             False                True
4150             False             False                True
4151             False             False                True
4152             False             False                True
4153             False             False               False

      Application mode_10  Application mode_15  Application mode_16  \
0                   False                False                False
1                   False                 True                False
2                   False                False                False
3                   False                False                False
4                   False                False                False
...                   ...                  ...                  ...
4149                False                False                False
4150                False                False                False
4151                False                False                False
4152                False                False                False
4153                 True                False                False

      Application mode_17  Application mode_18  Application mode_2  \
0                    True                False               False
1                   False                False               False
2                   False                False               False
3                    True                False               False
4                   False                False               False
...                   ...                  ...                 ...
4149                False                False               False
4150                False                False               False
4151                False                False               False
4152                False                False               False
4153                False                False               False

      Application mode_26  Application mode_27  Application mode_39  \
0                   False                False                False
1                   False                False                False
2                   False                False                False
3                   False                False                False
4                   False                False                 True
...                   ...                  ...                  ...
4149                False                False                False
4150                False                False                False
4151                False                False                False
4152                False                False                False
4153                False                False                False

      Application mode_42  Application mode_43  Application mode_44  \
0                   False                False                False
1                   False                False                False
2                   False                False                False
3                   False                False                False
4                   False                False                False
...                   ...                  ...                  ...
4149                False                False                False
4150                False                False                False
4151                False                False                False
4152                False                False                False
4153                False                False                False

      Application mode_5  Application mode_51  Application mode_53  \
0                  False                False                False
1                  False                False                False
2                  False                False                False
3                  False                False                False
4                  False                False                False
...                  ...                  ...                  ...
4149               False                False                False
4150               False                False                False
4151               False                False                False
4152               False                False                False
4153               False                False                False

      Application mode_57  Application mode_7  Application order_0  \
0                   False               False                False
1                   False               False                False
2                   False               False                False
3                   False               False                False
4                   False               False                False
...                   ...                 ...                  ...
4149                False               False                False
4150                False               False                False
4151                False               False                False
4152                False               False                False
4153                False               False                False

      Application order_1  Application order_2  Application order_3  \
0                   False                False                False
1                    True                False                False
2                   False                False                False
3                   False                 True                False
4                    True                False                False
...                   ...                  ...                  ...
4149                False                False                False
4150                False                 True                False
4151                 True                False                False
4152                 True                False                False
4153                 True                False                False

      Application order_4  Application order_5  Application order_6  \
0                   False                 True                False
1                   False                False                False
2                   False                 True                False
3                   False                False                False
4                   False                False                False
...                   ...                  ...                  ...
4149                False                False                 True
4150                False                False                False
4151                False                False                False
4152                False                False                False
4153                False                False                False

      Application order_9  Course_171  Course_33  Course_8014  Course_9003  \
0                   False        True      False        False        False
1                   False       False      False        False        False
2                   False       False      False        False        False
3                   False       False      False        False        False
4                   False       False      False         True        False
...                   ...         ...        ...          ...          ...
4149                False       False      False        False        False
4150                False       False      False        False        False
4151                False       False      False        False        False
4152                False       False      False        False        False
4153                False       False      False        False        False

      Course_9070  Course_9085  Course_9119  Course_9130  Course_9147  \
0           False        False        False        False        False
1           False        False        False        False        False
2            True        False        False        False        False
3           False        False        False        False        False
4           False        False        False        False        False
...           ...          ...          ...          ...          ...
4149        False        False        False        False        False
4150        False        False        False        False        False
4151        False        False        False        False        False
4152        False        False        False        False         True
4153        False        False        False        False        False

      Course_9238  Course_9254  Course_9500  Course_9556  Course_9670  \
0           False        False        False        False        False
1           False         True        False        False        False
2           False        False        False        False        False
3           False        False        False        False        False
4           False        False        False        False        False
...           ...          ...          ...          ...          ...
4149        False        False        False        False        False
4150        False        False        False        False        False
4151        False        False         True        False        False
4152        False        False        False        False        False
4153        False        False        False        False        False

      Course_9773  Course_9853  Course_9991  Daytime/evening attendance_0  \
0           False        False        False                         False
1           False        False        False                         False
2           False        False        False                         False
3            True        False        False                         False
4           False        False        False                          True
...           ...          ...          ...                           ...
4149         True        False        False                         False
4150         True        False        False                         False
4151        False        False        False                         False
4152        False        False        False                         False
4153         True        False        False                         False

      Daytime/evening attendance_1  Previous qualification_1  \
0                             True                      True
1                             True                      True
2                             True                      True
3                             True                      True
4                            False                      True
...                            ...                       ...
4149                          True                      True
4150                          True                      True
4151                          True                      True
4152                          True                      True
4153                          True                      True

      Previous qualification_10  Previous qualification_12  \
0                         False                      False
1                         False                      False
2                         False                      False
3                         False                      False
4                         False                      False
...                         ...                        ...
4149                      False                      False
4150                      False                      False
4151                      False                      False
4152                      False                      False
4153                      False                      False

      Previous qualification_14  Previous qualification_15  \
0                         False                      False
1                         False                      False
2                         False                      False
3                         False                      False
4                         False                      False
...                         ...                        ...
4149                      False                      False
4150                      False                      False
4151                      False                      False
4152                      False                      False
4153                      False                      False

      Previous qualification_19  Previous qualification_2  \
0                         False                     False
1                         False                     False
2                         False                     False
3                         False                     False
4                         False                     False
...                         ...                       ...
4149                      False                     False
4150                      False                     False
4151                      False                     False
4152                      False                     False
4153                      False                     False

      Previous qualification_3  Previous qualification_38  \
0                        False                      False
1                        False                      False
2                        False                      False
3                        False                      False
4                        False                      False
...                        ...                        ...
4149                     False                      False
4150                     False                      False
4151                     False                      False
4152                     False                      False
4153                     False                      False

      Previous qualification_39  Previous qualification_4  \
0                         False                     False
1                         False                     False
2                         False                     False
3                         False                     False
4                         False                     False
...                         ...                       ...
4149                      False                     False
4150                      False                     False
4151                      False                     False
4152                      False                     False
4153                      False                     False

      Previous qualification_40  Previous qualification_42  \
0                         False                      False
1                         False                      False
2                         False                      False
3                         False                      False
4                         False                      False
...                         ...                        ...
4149                      False                      False
4150                      False                      False
4151                      False                      False
4152                      False                      False
4153                      False                      False

      Previous qualification_43  Previous qualification_5  \
0                         False                     False
1                         False                     False
2                         False                     False
3                         False                     False
4                         False                     False
...                         ...                       ...
4149                      False                     False
4150                      False                     False
4151                      False                     False
4152                      False                     False
4153                      False                     False

      Previous qualification_6  Previous qualification_9  Nacionality_1.0  \
0                        False                     False             True
1                        False                     False             True
2                        False                     False             True
3                        False                     False             True
4                        False                     False             True
...                        ...                       ...              ...
4149                     False                     False             True
4150                     False                     False            False
4151                     False                     False             True
4152                     False                     False             True
4153                     False                     False            False

      Nacionality_100.0  Nacionality_101.0  Nacionality_103.0  \
0                 False              False              False
1                 False              False              False
2                 False              False              False
3                 False              False              False
4                 False              False              False
...                 ...                ...                ...
4149              False              False              False
4150              False              False              False
4151              False              False              False
4152              False              False              False
4153              False              False              False

      Nacionality_105.0  Nacionality_108.0  Nacionality_109.0  \
0                 False              False              False
1                 False              False              False
2                 False              False              False
3                 False              False              False
4                 False              False              False
...                 ...                ...                ...
4149              False              False              False
4150               True              False              False
4151              False              False              False
4152              False              False              False
4153              False              False              False

      Nacionality_11.0  Nacionality_13.0  Nacionality_14.0  Nacionality_17.0  \
0                False             False             False             False
1                False             False             False             False

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
1800567,"(Marital status_1, Daytime/evening attendance_...",(International_0),0.118922,0.973760,0.118922,1.0,1.026947,0.003120,inf,0.029781
5478734,"(Father's qualification_19, Age group_18-22, D...",(Daytime/evening attendance_1),0.080164,0.889504,0.080164,1.0,1.124222,0.008858,inf,0.120126
3126317,"(Course_9500, Application mode_1, Marital stat...","(Daytime/evening attendance_1, International_0)",0.085941,0.864468,0.085941,1.0,1.156781,0.011648,inf,0.148275
11411702,"(Target_Graduate, Application mode_1, Marital ...",(Previous qualification_1),0.054646,0.837987,0.054646,1.0,1.193335,0.008853,inf,0.171378
6731873,"(Course_9500, Target_Graduate, Marital status_...",(Tuition fees up to date_1),0.064035,0.880597,0.064035,1.0,1.135593,0.007646,inf,0.127572
...,...,...,...,...,...,...,...,...,...,...
1844645,"(Mother's qualification_19, Target_Graduate, M...","(Daytime/evening attendance_1, Displaced_1)",0.086663,0.526481,0.060664,0.7,1.329584,0.015038,1.578398,0.271406
10443672,"(Target_Graduate, Tuition fees up to date_1, M...","(Marital status_1, Age group_18-22, Internatio...",0.105922,0.455224,0.074145,0.7,1.537705,0.025927,1.815920,0.391107
8328267,"(Target_Graduate, Previous qualification_1, Da...","(Displaced_1, Tuition fees up to date_1)",0.077034,0.498315,0.053924,0.7,1.404734,0.015537,1.672284,0.312169
10443666,"(Age group_18-22, Mother's occupation_9, Displ...","(Target_Graduate, International_0, Tuition fee...",0.105922,0.438132,0.074145,0.7,1.597692,0.027738,1.872894,0.418417
6019930,"(Target_Graduate, Application mode_1, Previous...","(Daytime/evening attendance_1, Tuition fees up...",0.132403,0.493019,0.092682,0.7,1.419824,0.027405,1.689937,0.340812