In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
pd.set_option("display.max_columns", None)
data = pd.read_csv("Data/preprocessed_data.csv", delimiter=",")
data.head(20)

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target,Admission grade bins,Age group,Unemployment rate bins
0,1,17,5,171,1,1,122.0,1.0,19,12,5,9,127.3,1,0,0,1,1.0,0,20.0,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout,NaN,18-22,10-15%
1,1,15,1,9254,1,1,160.0,1.0,1,3,3,3,142.5,1,0,0,0,1.0,0,19.0,0,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate,NaN,18-22,10-15%
2,1,1,5,9070,1,1,122.0,1.0,37,37,9,9,124.8,1,0,0,0,1.0,0,19.0,0,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout,NaN,18-22,10-15%
3,1,17,2,9773,1,1,122.0,1.0,38,37,5,3,119.6,1,0,0,1,0.0,0,20.0,0,0,6,8,6,13.428571,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate,NaN,18-22,5-10%
4,2,39,1,8014,0,1,100.0,1.0,37,38,9,9,141.5,0,0,0,1,0.0,0,34.0,0,0,6,9,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate,NaN,28-35,10-15%
5,2,39,1,9991,0,19,133.1,1.0,37,37,9,7,114.8,0,0,1,1,1.0,0,34.0,0,0,5,10,5,11.857143,0,0,5,17,5,11.500000,5,16.2,0.3,-0.92,Graduate,NaN,28-35,15%+
6,1,1,1,9500,1,1,142.0,1.0,19,38,7,10,128.4,1,0,0,1,0.0,1,18.0,0,0,7,9,7,13.300000,0,0,8,8,8,14.345000,0,15.5,2.8,-4.06,Graduate,NaN,18-22,15%+
7,1,18,4,9254,1,1,119.0,1.0,37,37,9,9,113.1,1,0,0,0,1.0,0,22.0,0,0,5,5,0,0.000000,0,0,5,5,0,0.000000,0,15.5,2.8,-4.06,Dropout,NaN,18-22,15%+
8,1,1,3,9238,1,1,137.0,62.0,1,1,9,9,129.3,0,0,0,1,0.0,1,21.0,1,0,6,8,6,13.875000,0,0,6,7,6,14.142857,0,16.2,0.3,-0.92,Graduate,NaN,18-22,15%+
9,1,1,1,9238,1,1,138.0,1.0,1,19,4,7,123.0,1,0,1,0,0.0,0,18.0,0,0,6,9,5,11.400000,0,0,6,14,2,13.500000,0,8.9,1.4,3.51,Dropout,NaN,18-22,5-10%
10,1,1,1,9670,1,1,139.0,1.0,38,19,5,7,130.6,1,0,0,1,0.0,0,18.0,0,0,6,6,6,12.333333,0,0,6,7,5,14.200000,0,13.9,-0.3,0.79,Graduate,NaN,18-22,10-15%
11,1,1,1,9500,1,1,136.0,1.0,19,38,9,9,119.3,1,0,0,1,0.0,1,18.0,0,0,8,8,7,13.214286,0,0,8,8,7,13.214286,0,12.7,3.7,-1.70,Graduate,NaN,18-22,10-15%
12,1,1,2,9853,1,1,133.0,1.0,19,37,4,9,130.2,1,0,0,1,0.0,0,19.0,0,0,6,6,0,0.000000,0,0,6,0,0,0.000000,0,12.7,3.7,-1.70,Dropout,NaN,18-22,10-15%
13,1,53,1,9254,1,42,110.0,1.0,1,1,4,7,111.8,1,0,0,1,0.0,1,21.0,0,0,6,7,6,10.571429,0,0,6,8,5,11.000000,0,8.9,1.4,3.51,Graduate,NaN,18-22,5-10%
14,1,1,1,9085,1,1,149.0,1.0,38,37,5,5,137.1,1,0,0,1,0.0,1,18.0,0,0,5,7,4,13.250000,0,0,5,5,5,12.000000,0,10.8,1.4,1.74,Graduate,NaN,18-22,10-15%
15,1,1,1,9773,1,1,127.0,1.0,19,37,9,3,120.7,1,0,0,1,0.0,0,20.0,0,0,6,6,5,13.200000,0,0,6,7,0,0.000000,0,15.5,2.8,-4.06,Dropout,NaN,18-22,15%+
16,1,17,2,9500,1,1,135.0,1.0,19,1,5,4,127.3,1,0,0,1,0.0,0,18.0,0,0,7,8,7,13.306250,0,0,8,8,8,14.545000,0,15.5,2.8,-4.06,Graduate,NaN,18-22,15%+
17,1,1,1,9130,1,1,137.0,1.0,3,19,3,5,136.3,1,0,0,1,0.0,0,20.0,0,0,5,8,4,12.500000,1,0,5,8,4,12.250000,2,10.8,1.4,1.74,Graduate,NaN,18-22,10-15%
18,1,1,1,9853,1,1,140.0,1.0,19,19,7,7,124.6,1,0,0,1,0.0,0,18.0,0,0,7,7,6,11.666667,0,0,7,8,6,13.500000,0,16.2,0.3,-0.92,Enrolled,NaN,18-22,15%+
19,1,1,3,171,1,1,122.0,1.0,1,1,9,8,120.3,0,0,0,1,0.0,1,21.0,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,11.1,0.6,2.02,Graduate,NaN,18-22,10-15%

In [10]:
from mlxtend.frequent_patterns import apriori, association_rules
import time

# Handpick categorical columns from dataset, may bin numerical variables and perform apriori on them later
categorical_columns = [
    'Marital status', 'Application mode', 'Application order', 'Course',
    'Daytime/evening attendance', 'Previous qualification', 'Nacionality',
    "Mother's qualification", "Father's qualification", "Mother's occupation",
    "Father's occupation", 'Displaced', 'Educational special needs', 'Debtor',
    'Tuition fees up to date', 'Gender', 'Scholarship holder', 'International', 'Target',
    'Age group', 'Unemployment rate bins'
]

# Convert categorical columns to string to treat them as categorical
for col in categorical_columns:
    data[col] = data[col].astype(str)

# Preprocessing: Encode the categorical data to be suitable for the Apriori algorithm
# We will encode the data using one-hot encoding
encoded_data = pd.get_dummies(data)

encoded_data = encoded_data.drop(columns=["Previous qualification (grade)", "Admission grade",
                           "Age at enrollment", "Curricular units 1st sem (credited)",
                           "Curricular units 1st sem (enrolled)", "Curricular units 1st sem (evaluations)",
                           "Curricular units 1st sem (approved)", "Curricular units 1st sem (grade)",
                           "Curricular units 1st sem (without evaluations)", "Curricular units 2nd sem (credited)",
                           "Curricular units 2nd sem (enrolled)", "Curricular units 2nd sem (evaluations)",
                           "Curricular units 2nd sem (approved)", "Curricular units 2nd sem (grade)",
                           "Curricular units 2nd sem (without evaluations)", "Unemployment rate",
                           "Inflation rate", "GDP"])

#print(encoded_data.isnull().values.any())
#print(encoded_data)

start_time = time.time()
# Applying the Apriori algorithm with minimum support threshold
frequent_itemsets = apriori(encoded_data, min_support=0.05, max_len=2, use_colnames=True, verbose=1)

# Generating the association rules with minimum confidence threshold
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.70)
print("--- %s seconds ---" % (time.time() - start_time))

# Displaying the resulting rules
#pd.set_option("display.max_rows", None)

sorted_rules = rules.sort_values(by='confidence', ascending=False)
display(sorted_rules)

sorted_rules.to_csv("Data/found_rules_lol.csv", index=False)

Processing 156 combinations | Sampling itemset size 2
--- 0.009927034378051758 seconds ---

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
30,(Nacionality_1.0),(International_0),0.956187,0.973760,0.956187,1.000000,1.026947,0.025090,inf,0.598901
7,(Age group_18-22),(Marital status_1),0.686567,0.885412,0.681512,0.992637,1.121102,0.073617,15.562189,0.344637
9,(Application order_1),(Educational special needs_0),0.683438,0.988686,0.676938,0.990490,1.001825,0.001233,1.189688,0.005753
37,(Scholarship holder_0),(Educational special needs_0),0.751324,0.988686,0.744102,0.990388,1.001722,0.001279,1.177074,0.006911
34,(Debtor_0),(Educational special needs_0),0.888300,0.988686,0.878430,0.988889,1.000206,0.000181,1.018296,0.001840
24,(Nacionality_1.0),(Educational special needs_0),0.956187,0.988686,0.945354,0.988671,0.999985,-0.000014,0.998684,-0.000344
39,(International_0),(Educational special needs_0),0.973760,0.988686,0.962687,0.988628,0.999942,-0.000056,0.994929,-0.002218
35,(Tuition fees up to date_1),(Educational special needs_0),0.880597,0.988686,0.870005,0.987972,0.999278,-0.000629,0.940638,-0.006016
32,(Displaced_1),(Educational special needs_0),0.547424,0.988686,0.540684,0.987687,0.998990,-0.000547,0.918891,-0.002229
18,(Previous qualification_1),(Educational special needs_0),0.837987,0.988686,0.827636,0.987647,0.998950,-0.000870,0.915940,-0.006448
5,(Marital status_1),(Educational special needs_0),0.885412,0.988686,0.874338,0.987493,0.998794,-0.001056,0.904660,-0.010428
36,(Gender_0.0),(Educational special needs_0),0.645643,0.988686,0.637458,0.987323,0.998622,-0.000880,0.892506,-0.003880
14,(Daytime/evening attendance_1),(Educational special needs_0),0.889504,0.988686,0.878190,0.987280,0.998578,-0.001250,0.889504,-0.012720
40,(Age group_18-22),(Educational special needs_0),0.686567,0.988686,0.677179,0.986325,0.997613,-0.001620,0.827401,-0.007577
16,(Age group_18-22),(Daytime/evening attendance_1),0.686567,0.889504,0.676938,0.985975,1.108454,0.066234,7.878358,0.312166
29,(International_0),(Nacionality_1.0),0.973760,0.956187,0.956187,0.981953,1.026947,0.025090,2.427731,1.000000
43,(Debtor_0),(International_0),0.888300,0.973760,0.868801,0.978049,1.004404,0.003810,1.195367,0.039255
46,(Tuition fees up to date_1),(International_0),0.880597,0.973760,0.859894,0.976490,1.002803,0.002404,1.116106,0.023411
33,(Displaced_1),(International_0),0.547424,0.973760,0.533702,0.974934,1.001205,0.000643,1.046829,0.002660
38,(Educational special needs_0),(International_0),0.988686,0.973760,0.962687,0.973703,0.999942,-0.000056,0.997840,-0.005129
50,(Age group_18-22),(International_0),0.686567,0.973760,0.668272,0.973352,0.999581,-0.000280,0.984682,-0.001336
10,(Application order_1),(International_0),0.683438,0.973760,0.664420,0.972173,0.998370,-0.001085,0.942971,-0.005130
6,(Marital status_1),(International_0),0.885412,0.973760,0.860616,0.971996,0.998188,-0.001562,0.936989,-0.015596
15,(Daytime/evening attendance_1),(International_0),0.889504,0.973760,0.864468,0.971854,0.998042,-0.001696,0.932269,-0.017443
49,(Scholarship holder_0),(International_0),0.751324,0.973760,0.729658,0.971163,0.997333,-0.001951,0.909937,-0.010640
20,(Previous qualification_1),(International_0),0.837987,0.973760,0.813433,0.970698,0.996855,-0.002566,0.895496,-0.019099
48,(Gender_0.0),(International_0),0.645643,0.973760,0.626625,0.970544,0.996697,-0.002076,0.890824,-0.009264
4,(Displaced_1),(Marital status_1),0.547424,0.885412,0.529369,0.967018,1.092168,0.044674,3.474319,0.186466
13,(Displaced_1),(Daytime/evening attendance_1),0.547424,0.889504,0.526481,0.961741,1.081211,0.039544,2.888134,0.165963
25,(Debtor_0),(Nacionality_1.0),0.888300,0.956187,0.853154,0.960434,1.004441,0.003772,1.107333,0.039586
26,(Tuition fees up to date_1),(Nacionality_1.0),0.880597,0.956187,0.844487,0.958994,1.002936,0.002472,1.068458,0.024515
22,(Displaced_1),(Nacionality_1.0),0.547424,0.956187,0.524795,0.958663,1.002590,0.001356,1.059906,0.005708
8,(Application order_1),(Nacionality_1.0),0.683438,0.956187,0.653828,0.956675,1.000510,0.000334,1.011265,0.001612
31,(Age group_18-22),(Nacionality_1.0),0.686567,0.956187,0.656716,0.956522,1.000350,0.000230,1.007703,0.001117
23,(Educational special needs_0),(Nacionality_1.0),0.988686,0.956187,0.945354,0.956172,0.999985,-0.000014,0.999671,-0.001331
12,(Daytime/evening attendance_1),(Nacionality_1.0),0.889504,0.956187,0.849302,0.954804,0.998554,-0.001230,0.969400,-0.012939
3,(Marital status_1),(Nacionality_1.0),0.885412,0.956187,0.844969,0.954323,0.998051,-0.001650,0.959196,-0.016758
27,(Gender_0.0),(Nacionality_1.0),0.645643,0.956187,0.615551,0.953393,0.997078,-0.001804,0.940056,-0.008202
17,(Previous qualification_1),(Nacionality_1.0),0.837987,0.956187,0.798507,0.952887,0.996549,-0.002765,0.929962,-0.020927
28,(Scholarship holder_0),(Nacionality_1.0),0.751324,0.956187,0.715455,0.952259,0.995892,-0.002951,0.917725,-0.016317
42,(Tuition fees up to date_1),(Debtor_0),0.880597,0.888300,0.823303,0.934937,1.052501,0.041068,1.716794,0.417763
21,(Age group_18-22),(Previous qualification_1),0.686567,0.837987,0.641069,0.933731,1.114254,0.065734,2.444760,0.327146
0,(Marital status_1),(Daytime/evening attendance_1),0.885412,0.889504,0.823784,0.930397,1.045973,0.036207,1.587515,0.383565
41,(Debtor_0),(Tuition fees up to date_1),0.888300,0.880597,0.823303,0.926829,1.052501,0.041068,1.631841,0.446574
1,(Daytime/evening attendance_1),(Marital status_1),0.889504,0.885412,0.823784,0.926116,1.045973,0.036207,1.550930,0.397771
47,(Age group_18-22),(Tuition fees up to date_1),0.686567,0.880597,0.635291,0.925316,1.050782,0.030702,1.598767,0.154189
44,(Age group_18-22),(Debtor_0),0.686567,0.888300,0.629273,0.916550,1.031802,0.019395,1.338517,0.098335
2,(Previous qualification_1),(Marital status_1),0.837987,0.885412,0.766009,0.914105,1.032407,0.024045,1.334054,0.193749
11,(Previous qualification_1),(Daytime/evening attendance_1),0.837987,0.889504,0.763361,0.910945,1.024104,0.017967,1.240762,0.145280
45,(Gender_0.0),(Tuition fees up to date_1),0.645643,0.880597,0.584978,0.906040,1.028893,0.016427,1.270789,0.079247
19,(Previous qualification_1),(Debtor_0),0.837987,0.888300,0.756379,0.902614,1.016114,0.011995,1.146980,0.097882